
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
div {
        border-style: solid;
        border-color: blue;
        margin: 5px;
        border-width: 5px;
        padding: 5px;
        width: 25%;
        position: fixed;
}

#one {
    border-color: blue;
    bottom: 1px;
    right: 1px;
}
#two {
    border-color: green;
    top: 1px;
    right: 1px;
}
#three {
    border-color: orange;
    top: 1px;
    left: 1px;
}
#four {
    border-color: yellow;
    bottom: 1px;
    left: 1px;
}
a {
    background-color: #334bb4;
    color: white;
    text-decoration: none;
    padding: 2px;
}

p {
    text-align: center;
}
